img
{
    opacity: 0.7;
}

body
{
    font-family: Helvetica;
    font-size: 22px;
    color: rgb(110,105,101);
    background-color: black;
    text-align: center;
}

header > img
{
height: 50px;
margin-left: 20px;
opacity: 0.6;
}

nav
{
    margin-left: 780px;
    margin-right: 0;
}

header
{
    display: fixed;
    border-bottom: 1px solid rgb(110,105,101);
    align-items: center;
}

ul
{
    list-style-type: none;
    text-decoration: underline;
    display: flex;
}

li
{
    margin-left: 28px;
}

.container
{
    display: flex;
    height: 69px;
}

.location
{
    background-image: url("images/locations.jpeg");
    height: 500px;
    width: 1200px;
    margin: auto;
    font-weight: 500;
}

/* tea*/


.tea
{
    font-weight: bold;
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 60px;
}

 

figure  > img
{
    height: 200px;
    width: 300px;
    padding-bottom: 10px;

}

.teaheadings
{
    width: 100%;
}
/* center*/

.headings
{
    background-color: black;
    width: 100%;
    position: absolute;
    padding: 0;
    top: 340px;
    height: 100px;
}

.mission img 
{
    height: 700px;
    width: 1200px;
}

h2
{
margin-top: 10px;
margin-bottom: 0;
}

h4
{
    margin-top: 15px;
}

/*LOCATIONS*/
.address{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.address div
{
    width: 300px;
    height: auto;
    background-color: black;
    margin-right: 40px;
    position: relative;
    top: 50px;
}

.location > h2

{
position: relative;
top: 50px;
    margin-bottom: 15px;
}

.address p
{
    padding: 10px;
}

.contacts
{
    height: 200px;

}

.contacts a
{
text-decoration: none;
color: rgb(110,105,101);
 
}

footer p
{
    font-weight: 500;
    float: left;
    margin-left: 20px;
}

